<footer class="bg-dark text-white text-center py-4 mt-0 text-head">
  {% load static %}
  <p class="text-center mb-1 fs-5">
    Developed by <br />
    <strong class="text-light">Rahulkumar Gupta</strong>
  </p>
  <div class="my-3 text-white">
    <a
      href="https://www.linkedin.com/in/rahulkumar-fullstack"
      class="mx-2"
      title="LinkedIn"
      aria-label="LinkedIn"
    >
      <img src="{% static "images/linkedin_logo.png" %}" width="50vw"  />
    </a>
    <a
      href="https://github.com/rahulkumar-fullstack"
      class="mx-2"
      title="GitHub"
      aria-label="GitHub"
    >
      <img src="{% static "images/github_logo.png" %}" width="50vw"  />
    </a>
  </div>
  <div class="my-4">
    <a href="{% url 'privacy' %}" class="text-white mx-2">Privacy Policy</a>
    <a href="{% url 'terms' %}" class="text-white mx-2">Terms of Service</a>
  </div>
  <p class="mt-3">&copy; 2024, Rent Home. All rights reserved.</p>
  <a href="#" class="btn btn-light text-dark mt-3" id="back-to-top">Back to Top</a>
  
</footer>
